@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  height: 100vw;
  margin: 0px;
  padding: 0px;
}

body {
  overflow-y: auto;     /* scroll ON */
  overflow-x: hidden;  /* horizontal scroll OFF */

  -ms-overflow-style: none;  /* Edge */
  scrollbar-width: none;     /* Firefox */
}

body::-webkit-scrollbar {
  display: none;  /* Chrome, Safari */
}

.header{
    box-sizing: border-box;
    width: 100vw;
    height: 70px;
    background-color: rgb(240, 240, 240);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: sticky;
    top: 0px;
}

.logo{
    background-image: url(https://images.seeklogo.com/logo-png/62/2/kozmetek-logo-png_seeklogo-627942.png?v=1966453472055263984);
    width: 140px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
    margin-left: 25px;
}
.navbar{
    list-style: none;
    overflow: hidden;
}
.navbar a{
    color: black;
    padding: 0px 7px 0px 7px;
    margin: 0px 10px 0px 10px;
    text-decoration: none;
    font-family: poppins;
    border-bottom: solid 0px black;
    transition: all 0.1s ease-in-out;
}

.navbar a:hover{
    border-bottom: solid 10px black;
}

.footer-CTA{
    display: flex;
    width: 120px;
    height: 30px;
    margin-right: 25px;
    border-radius: 5px;
    background: linear-gradient(135deg, #0f0c29, #24243e);
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.footer-CTA:hover .btn-txt{
font-size: 13px;
}

.btn-txt{
    font-family: poppins;
    color: white;
    font-size: 12px;
    transition: all 0.1s ease;
}

.hero-section{
    margin: 10px;
    background-color: red;
    width: 100vw;
    height: 2500px;
}