    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


    /*https://www.creativebloq.com/advice/understand-the-12-principles-of-animation*/

    :root {
        --menu: url("/images/black menu.png");
        --close: url("/images/black close.png");
        --themeicon: url("/images/icons8-dark-96.png");
        --cursorClr: #5c5cff;
        --shadow: rgba(80, 80, 252, 0.2);
        --bgcolor: rgb(232, 232, 232);
        --bodybg: white;
        --buttonText: white;
        --bg: white;
        --text: black;
        --underline: #5c5cff;
        --buttonBg: linear-gradient(135deg, #0f0c29, #24243e);
    }

    body.dark {
        --filter: invert();
        --menu: url("/images/white menu.png");
        --close: url("/images/white close.png");
        --themeicon: url("/images/icons8-sun-30.png");
        --cursorClr: #EFBF04;
        --shadow: rgba(166, 166, 166, 0.573);
        --bgcolor: #1A1A1D;
        --bodybg: #0C0C0C;
        --buttonText: black;
        --bg: #282A35;
        --text: #fff;
        --underline: white;
        --buttonBg: white;
    }

    * {
        box-sizing: border-box;
        font-family: poppins;
    }

    body {
        background-color: var(--bodybg);
        margin: 0px;
        padding: 0px;
        scroll-behavior: smooth;
    }


    body {
        overflow-y: auto;
        /* scroll ON */
        overflow-x: hidden;
        /* horizontal scroll OFF */

        -ms-overflow-style: none;
        /* Edge */
        scrollbar-width: none;
        /* Firefox */
    }

    /* ON state */
    body.dark .theme-switch {
        background: #2f9bff;
    }

    body.dark .switch {
        transform: translateX(24px);
    }

    .theme-toggle {
        transition: all 0.3s ease;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 25px;
        height: 25px;
        background-image: var(--themeicon);
    }

    .header {
        z-index: 998;
        box-sizing: border-box;
        width: 100vw;
        height: 70px;
        background-color: var(--bg);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px;
        position: sticky;
        top: 0px;
    }

    .header.dark {
        background-color: blue;
    }

    .logo {
        filter: var(--filter);
        background-image: url(https://images.seeklogo.com/logo-png/62/2/kozmetek-logo-png_seeklogo-627942.png?v=1966453472055263984);
        width: 140px;
        height: 30px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        cursor: pointer;
        margin-left: 15px;
        margin-right: 50px;
    }

    .navbar {
        list-style: none;
        overflow: hidden;
        padding: 5px;
    }

    .navbar a {
        text-align: center;
        color: var(--text);
        padding: 0px 10px 2px 10px;
        margin: 0px 5px 0px 5px;
        text-decoration: none;
        font-family: poppins;
        border-bottom: solid 0px var(--underline);
        transition: all 0.1s ease-in-out;
    }

    .navbar a:hover {
        border-bottom: solid 4px var(--underline);
    }

    .footer-CTA-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-right: 25px;
    }

    .footer-CTA {
        display: flex;
        width: 120px;
        height: 30px;
        border-radius: 5px;
        background: var(--buttonBg);
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .sign-in-btn {
        border: solid 2px black;
        background: none;
        font-family: poppins;
        font-size: 12px;
    }

    .header-btns {
        font-size: 13px;
        text-decoration: none;
        font-family: poppins;
        font-size: 12px;
        transition: all 0.1s ease;
    }

    .footer-CTA:hover .header-btns {
        font-size: 13.1px;
    }

    #contact-us {
        font-weight: 600;
        color: var(--buttonText);
    }

    #sign-in {
        color: black;
    }

    .hero-section {
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: end;
        width: 100vw;
        height: 80vh;
        background:
            linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)),
            url("images/dark-hero section.gif");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .hero-sec-sub {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        padding-bottom: 50px;
    }

    .hero-sec-sub h1 {
        width: 70vw;
        margin: 0px;
        padding: 0px;
        font-family: poppins;
        font-size: 70px;
        color: white;
        text-align: center;
        line-height: 1.2;
    }

    .hero-sec-sub p {
        font-family: poppins;
        color: white;
        margin: 0px;
        font-size: 20px;
        text-align: center;
    }

    .label {
        text-align: center;
        border-radius: 5px;
        cursor: pointer;
        align-items: center;
        font-family: poppins;
        padding: 5px 10px 5px 10px;
        color: white;
        background-color: #5c5cff;
        font-size: 17px;
    }

    .label-box {
        display: flex;
        gap: 15px;
        margin-bottom: 25px;
    }

    .label-box a {
        text-decoration: none;
    }

    .main-container {
        padding: 80px 35px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-bottom: 3px solid #5c5cff;
    }

    .deff h2 {
        margin-bottom: 25px;
        color: #5c5cff;
        font-family: poppins;
        font-weight: 700;
        font-size: 50px;
    }

    .deff {
        color: var(--text);
        line-height: 1.5;
        width: 50%;
        font-family: poppins;
        font-size: 24px;
    }



    .main-container2 {
        width: 100%;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .first-p {
        justify-content: center;
        align-items: center;
        padding: 20px;
        gap: 70px;
        flex-direction: row;
        display: flex;
        width: 75vw;
    }

    #prn-1 .illus {
        background-image: url("https://cdn.mos.cms.futurecdn.net/haHABBTRc9gBaYcDYMPUZe.gif");
    }

    #prn-3 .illus {
        background-image: url("https://cdn.mos.cms.futurecdn.net/PHEijsfwz32N8B29VneQgm.gif");
    }

    #prn-5 .illus {
        background-image: url("https://cdn.mos.cms.futurecdn.net/Ld4BzBR2MrgzBcUEqwKrZ7.gif");
    }

    #prn-7 .illus {
        background-image: url("https://cdn.mos.cms.futurecdn.net/7q5U9KkudnqS96EqDKGYkF.gif");
    }

    #prn-9 .illus {
        background-image: url("https://cdn.mos.cms.futurecdn.net/AW3AQYP7KCsYg9rPUGEAHN.gif");
    }

    #prn-11 .illus {
        background-image: url("https://cdn.mos.cms.futurecdn.net/Y4PMrkzLeot9X5zZjtXukV.gif");
    }

    #prn-2 .illus {
        background-image: url("https://cdn.mos.cms.futurecdn.net/YmAFg5oroBRrd8kQJohfyh.gif");
    }

    #prn-4 .illus {
        background-image: url("https://cdn.mos.cms.futurecdn.net/iFyKnjGjwdsiQ3rsooedU3.gif");
    }

    #prn-6 .illus {
        background-image: url("https://cdn.mos.cms.futurecdn.net/asRF7pWZmuCM9hMt38VPxB.gif");
    }

    #prn-8 .illus {
        background-image: url("https://cdn.mos.cms.futurecdn.net/xH2CTSqLdLAMpiehHwJzKK.gif");
    }

    #prn-10 .illus {
        background-image: url("https://cdn.mos.cms.futurecdn.net/pHWxzFEbLD3sUg36eFCtkR.gif");
    }

    #prn-12 .illus {
        background-image: url("https://cdn.mos.cms.futurecdn.net/bUtGAwX7wU8PgDc2ZTZDvY.gif");
    }

    .illus {
        border-radius: 20px;
        height: 350px;
        width: 50%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        transition: all 0.2s ease;
    }

    .illus:hover {
        transform: scale(1.01) translateY(-10px);
    }

    .content {
        width: 50%;
    }

    .content h2 {
        font-family: "Montserrat";
        color: #5c5cff;
        font-size: 35px;
    }

    .content p {
        color: var(--text);
        font-size: 18px;
        text-align: justify;
        line-height: 2;
        padding-left: 20px;
        width: 90%;
    }



    .backclr,
    .main-background {
        padding: 100px 0px;
        margin: 100px 0px;
        background-color: var(--bgcolor);
        width: 98%;
        border-radius: 30px;
        justify-content: center;
        display: flex;
        box-shadow: 4px 4px 11px 0px var(--shadow);
    }

    .footer {
        margin-top: 50px;
        background-color: #282A35;
        color: #fff;
        padding: 40px 0 0;
        font-family: Arial, sans-serif;
    }

    .footer-container {
        max-width: 1100px;
        margin: auto;
        padding: 0 20px;
        display: flex;
        gap: 40px;
        flex-wrap: wrap;
    }

    .footer-col {
        flex: 1;
        min-width: 220px;
    }

    .footer-col h3 {
        margin-bottom: 15px;
        font-size: 18px;
    }

    .footer-col p {
        font-size: 14px;
        line-height: 1.6;
    }

    .footer-col ul {
        list-style: none;
        padding: 0;
    }

    .footer-col ul li {
        margin-bottom: 10px;
    }

    .footer-col ul li a {
        color: #ccc;
        text-decoration: none;
        font-size: 14px;
    }

    .footer-col ul li a:hover {
        color: #fff;
    }

    .footer-bottom {
        padding: 15px 0px;
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        border-top: 1px solid rgb(217, 217, 217);
    }
    
    .copyright p {
        text-align: left;
        font-size: 13px;
        color: #aaa;

    }
    .icon{
        width: 45%;
        display: flex;
        justify-content: flex-end;
    }
.icon-list{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 18px;
}
.icon-list a div{
    transition: all 0.2s ease-in-out;
    width: 28px;
    height: 28px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.icon-list a div:hover{
filter: brightness(0) saturate(100%) invert(56%) sepia(50%) saturate(936%) hue-rotate(202deg) brightness(68%) contrast(111%);
}

#whats{
    background-image: url(\images/whatsapp-icon.png);
}
#pint{
    background-image: url(images/pintrest-icon.png);
}
#insta{
    background-image: url(\images/instagram-icon.png);
}
#behance{
    background-image: url(\images/Behance-icon.png);
}
    .copyright{
        
        display: flex;
        justify-content: flex-start;
        width: 45%;
    }

    .content-index {
        padding: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-direction: column;
    }

    .content-box {
        color: var(--text);
        width: 60%;
        font-size: larger;
    }

    .content-box a {
        color: #5050fc;
        text-decoration: none;
        font-family: poppins;
        font-size: 20px;
    }

    .content-box a:visited {
        color: #5050fc;
    }

    .index-list {
        list-style: none;
    }

    .content-index p {
        color: var(--text);
        width: 60%;
        font-size: 18px;
    }

    .content-index h1 {
        color: #5050fc;
        width: 60%;
        font-size: 40px;
    }



    .scroll-progress {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 6px;
        z-index: 9999;
    }

    .progress-bar {
        transform-origin: right;
        height: 100%;
        width: 0%;
        background: #5c5cff;

    }


    /* contact us css */


    .contact-section {
        background-color: var(--bodybg);
        min-height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contact-box {
        background: var(--bgcolor);
        margin: 20px;
        padding: 30px;
        width: 100%;
        max-width: 400px;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    .contact-box h2 {
        font-size: 45px;
        text-align: center;
        margin-bottom: 20px;
        color: var(--text);
    }

    .contact-box input,
    .contact-box textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 14px;
    }

    .contact-box textarea {
        resize: none;
        height: 100px;
    }

    .contact-box button {
        width: 100%;
        padding: 10px;
        background: #5c5cff;
        color: #fff;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        cursor: pointer;
        transition: all 0.2s ease;
    }

    .contact-box button:hover {
        background: #5050fc;
    }

    .main {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .main-background {
        margin: 10px 0px 100px 0px;
        align-self: center;
        align-items: center;
        justify-content: center;
        display: flex;
        padding: 50px;
        flex-direction: column;
    }

    .main-background-content {
        width: 40vw;
    }

    .main-background-content p {
        color: var(--text);
        line-height: 2;
        font-size: 18px;
        text-align: justify
    }

    .main-background-content h1 {
        font-size: 50px;
        color: #5050fc;
    }

    .yt-thumbnail {
        border-radius: 25px;
    }

    .cursor {
        z-index: 999;
        width: 14px;
        height: 14px;
        background-color: var(--cursorClr);
        border-radius: 50%;
        position: fixed;
        top: 0;
        left: 0;
        pointer-events: none;
        /* click block nahi karega */
        transform: translate(-50%, -50%);
        z-index: 9999;
    }

    #backToTop {
        transform: rotate(-90deg);
        position: fixed;
        bottom: 30px;
        right: 30px;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        border: none;
        background: #5050fc;
        color: #fff;
        font-weight: bolder;
        font-size: 14px;
        cursor: pointer;
        display: none;
        z-index: 999;
    }

    .hamburger {
        background-image: var(--menu);
        width: 25px;
        height: 25px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        display: none;
        margin-left: 20px;
    }

    .close {
        background-image: var(--close);
        width: 30px;
        height: 30px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        display: none;
        margin-left: 20px;
    }

    .logo-hamburger {
        gap: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .floating-menu-window {
        padding: 25px;
        padding-left: 50px;
        position: fixed;
        right: 100%;
        transition: all 0.2s linear;
        width: 100vw;
        height: 100vh;
        z-index: 99;
        background-color: var(--bgcolor);

    }

    .menu-box {
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 90%;
    }

    .menu-box a li {
        list-style: none;
        color: var(--text);
        font-size: 22px;
    }

    .arrow {
        color: var(--text);
        font-size: 22px;
    }

    .menu-box a {
        padding: 10px 30px;
        text-decoration: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    .menu-box a:hover {
        border-radius: 5px;
        background-color: #f1f1f1;
    }

    .menu-box a:hover li {
        color: black;
    }

    .menu-box a:hover .arrow {
        color: black;
    }


    /* css for mobile */

    @media screen and (max-width: 1150px) {

        .navbar {
            display: none;
        }

        .hamburger {
            display: block;
        }

        .close {
            display: none;
        }

        .hero-sec-sub h1 {
            font-size: 35px;
            width: 90vw;
        }

        .hero-section {
            height: 50vh;
        }

        .hero-sec-sub {
            padding-bottom: 10px;
        }

        .hero-sec-sub p {
            font-size: 14px;
        }

        .label {
            font-size: 12px;
        }

        .label-box {
            gap: 8px;
        }

        .main-container h2,
        .content-index h1 {
            font-size: 35px;
            width: 90%;
        }

        .deff {
            font-size: 18px;
            width: 95%;
        }

        .main-container {
            padding: 40px 20px;
        }

        .content-index {
            padding: 30px;
            align-items: flex-start;
        }

        .content-index p {
            width: 95%;
        }

        .content h2 {
            font-size: 30px;
        }

        .contact-box {
            width: 95%;
        }

        .content {
            width: 95%;
        }

        .first-p {
            gap: 10px;
            padding: 35px 5px;
            width: 100%;
            height: auto;
            flex-direction: column;
        }

        .illus {
            width: 90%;
            height: 400px;
            background-size: cover;
        }

        .illus:hover {
            background-size: cover;
        }

        .main-background {
            width: 95%;
            padding: 35px;
        }

        .main-background-content {
            width: 100%
        }

        .main-background-content h1 {
            font-size: 40px;
        }

        .yt-thumbnail {
            width: 50vw;


        }

        .footer-CTA-container {
            gap: 10px;
        }

        .sign-in-btn {
            display: none;
        }

        .backclr {
            width: 95%;
        }
    }